- if @results.size > 0
  .box.boxArticles
    - for result in @results
      - if result.class == Event
        .item.first
          %h3= link_to result.title, result
          %p.info In section Events
          .self
            %p= truncate(result.perex, :length => 180, :omission => '&hellip;')
      - if result.class == User
        .item.first
          %h3= link_to result.full_name, result         
          = link_to(image_tag(result.avatar.url(:forum)), user_detail_path(:id => result, :user => result.full_name.parameterize))  
          %p.info In section People
          .self
            -#%p= truncate(result.perex, :length => 180, :omission => '&hellip;')
      - if result.class == Post
        .item.first
          -#%h3= link_to result.topic.title, result        
          = link_to(image_tag(result.user.avatar.url(:forum)), user_detail_path(:id => result.user, :user => result.user.full_name.parameterize))  
          %p.info In section Forum
          .self
            %p= truncate(result.body, :length => 180, :omission => '&hellip;')
      - if result.class == Help
        .item.first
          %h3= link_to result.title, result
          %p.info In section Help
          .self
            %p= truncate(result.perex, :length => 180, :omission => '&hellip;')
- else
  %p 
    Na hledaný výraz 
    = params[:search]
    nebyl nalezen žádný výsledek."