%h2.main Change My Password
.cols.cols2v1
  .col1
    .box.profileForm.formBox
      - form_for (@user) do |f|
        = f.error_messages        
        %fieldset
          %legend Change My Password
          .in
            .clearfix
              .lab
                = f.label :password, 'Password:'
              .con
                = f.password_field :password
            .clearfix
              .lab
                = f.label :password_confirmation, 'Password confirmation:'
              .con
                = f.password_field :password_confirmation
          = f.submit "Change My Password", :class => 'submit'