- content_for :box_2 do
  = render(:partial => "shared/cloud", :locals => { :tags => @tags}) 
%h2.main 
  Find people
  %span.small= "(#{@users.total_entries} profiles)"
.box.boxPeople
  = render(:partial => 'person', :collection => @users)
-if @users.total_pages > 1
  .paging
    = will_paginate @users

-#= link_to 'Show', user
-#= link_to 'Edit', edit_user_path(user)
-#= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete