- content_for :sidebarmenu do
  -#= render(:partial => "library", :collection => @libraries)
  = render(:partial => "libraries", :object => @libraries)
- content_for :box_1 do
  = render(:partial => "shared/cloud", :locals => { :tags => @tags}) 
%h2.main Tools library
%p.counter= "Found #{@items.size} articles"
.box.boxArticles
  - @items.each_with_index do |item,index|
    - if(index == 0)
      .item.first
        %h3= link_to item.title, library_item_path(item.library.id, item)
        -#%p.info December 3, 2009 by <a href="">Jiří Langer</a>, <a href="">4 Comments</a>
        .self
          %p= truncate(item.perex, :length => 180, :omission => '&hellip;')
        %ul.actions
          %li= link_to 'Edit', edit_library_item_path(item.library.id, item), :class => 'ico edit'
    - else
      .item
        %h3= link_to item.title, library_item_path(item.library.id, item)
        -#%p.info December 3, 2009 by <a href="">Jiří Langer</a>, <a href="">4 Comments</a>
        .self
          %p= truncate(item.perex, :length => 180, :omission => '&hellip;')
        %ul.actions
          %li= link_to 'Edit', edit_library_item_path(item.library.id, item), :class => 'ico edit'
.paging
  = will_paginate @items

-#= link_to 'Show', object_url(item)
-#= link_to 'Edit', edit_object_url(item)
-#= link_to 'Destroy', object_url(item), :confirm => 'Are you sure?', :method => :delete
-if current_user.has_role?('admin')
  =link_to 'New library', new_object_url


-#%h1 Listing libraries

-#%table
  -#%tr
  -#- @libraries.each do |library|
    -#%tr
      -#%td{:colspan => 3}= library.title 
    -#%tr
      -#%td= link_to 'Show', object_url(library)
      -#%td= link_to 'Edit', edit_object_url(library)
      -#%td= link_to 'Destroy', object_url(library), :confirm => 'Are you sure?', :method => :delete

-#%br/

-#=link_to 'New library', new_object_url