%fieldset
  %legend
  .in
    .clearfix
      .lab
        = f.label :title
      .con
        = f.text_field :title, :class => 'button w100'
    .clearfix
      .lab
        = f.label :perex, 'Annotation:'
      .con
        = f.text_area :perex, :rows => 5, :cols => 80, :class => 'button w100'
    .clearfix
      .lab
        = f.label :location
      .con
        = f.text_field :location, :class => 'button w100'
    .clearfix
      .lab
        = f.label :link
      .con
        = f.text_field :link, :class => 'button w100'
    .clearfix
      .lab
        = f.label :description
      .con
        = f.text_area :description, :rows => 5, :cols => 80, :class => 'button w100'
    .clearfix
      .lab
        = f.label :event_date
      .con
        = f.date_select :event_date, :order => [:day, :month, :year], :use_month_numbers => false, :start_year => 2009, :class => 'button w100'
    .clearfix
      .lab
        = f.label :tag_list, 'Tags (seperate with spaces, e.g. hotel newyork, not new york)'
      .con
        = f.text_field :tag_list, :size => 90, :class => 'button w100'