%h2.main Editing event
= error_messages_for :event
.cols.cols2v1
  .col1
    .box.profileForm.formBox
      - form_for(:event, :url => object_url, :html => { :method => :put }) do |f|
        = render :partial => "form", :locals => { :f => f }
        %p= submit_tag "Update"
  
= link_to 'Show', object_url
|
= link_to 'Back', collection_url