- content_for :box_1 do
  = render(:partial => "shared/calendar", :locals => { :events => @month_events, :date => @date })
- content_for :box_2 do
  = render(:partial => "shared/cloud", :locals => { :tags => @tags})  
%h2.main= @event.title
%p.navi &nbsp;
/<p class="navi"><a href="">TechLab</a> &gt; <a href="">Library</a> &gt; <a href="">Programming</a> &gt; <a href="">CSS and Xhtml</a> &gt; CSS Frameworks</p>
.box.boxArticles.boxArticle
  .item
    %p.info 
      = distance_of_time_in_words_to_now(@event.created_at) 
      by 
      = link_to(@event.user.full_name, user_detail_path(:id => @event.user, :user => @event.user.full_name.parameterize))
      ,
      = @comments.size
      Comments
    .self
      %p= @event.perex
    .text= @event.description
    %br
    #tags
      %strong=@event.tag_list.join(", ")
  .gallery
    - @event.photos.each do |row|
      .item= link_to image_tag(row.photo.url(:small)), home_url, :class => 'thickbox', :rel => 'article'
  .clearfix
    - form_for @event, :url => {:action => 'add_photo'}, :html => {:multipart => true} do |f|
      -#= f.file_field :photo
      %input{ :type => 'file', :name => 'photo[photo]' }
      %br
      %br
      = f.submit "Add photo", :class => 'submit'
.box.boxForm
  .h
    %h3 Add new comment
  .in
    - form_for([@event, Comment.new]) do |f|
      %fieldset
        %legend Add new comment.
        .formBox
          = render :partial => 'comments/form', :locals => { :f => f }
        = submit_tag "Send comment", :class => 'submit'
.box.boxComments
  .h
    %h3 Event comments
  .in
    - @comments.each do |comment|
      .item
        .head
          %h4
            = comment.user.login 
            | 
            = comment.title
          %p= distance_of_time_in_words_to_now(comment.created_at)
        .self
          %p= comment.comment


-#if logged_in? %>
-#= link_to 'Odstranit', remove_photo_school_path(@school, :photo => row.id), :confirm => 'Jste si jistí?', :method => :delete %>
