- content_for :box_1 do
  = render(:partial => "shared/calendar", :locals => { :events => @month_events, :date => @date })
- content_for :box_2 do
  = render(:partial => "shared/cloud", :locals => { :tags => @tags})  
%h2.main= @event.title
.box.boxArticles.boxArticle
  .item
    %p.info 
      = distance_of_time_in_words_to_now(@event.created_at) 
      by 
      = link_to(@event.user.full_name, user_detail_path(:id => @event.user, :user => @event.user.full_name.parameterize))
      ,
      = @comments.size
      Comments
    .img
      - if(@event.photos.size > 0)
        = image_tag(@event.photos[0].photo.url(:thumb))
    .self
      %p= @event.perex
    .text= @event.description
    %br
    #tags
      %strong
        Tags: 
        =@event.tag_list.join(", ")
  .files
    %ul
      - @event.file_atts.each do |file|
        %li
          = link_to file.file_att_file_name, file.file_att.url
          = " (#{number_to_human_size(file.file_att_file_size)})"
  .clearfix
    - form_for @event, :url => {:action => 'add_file'}, :html => {:multipart => true} do |f|
      -#= f.file_field :photo
      %input{ :type => 'file', :name => 'file_att[file_att]' }
      %br
      %br
      = f.submit "Add file", :class => 'submit'
  .gallery
    - @event.photos.each do |row|
      .item= link_to image_tag(row.photo.url(:small)), home_url, :class => 'thickbox', :rel => 'article'
  .clearfix
    - form_for @event, :url => {:action => 'add_photo'}, :html => {:multipart => true} do |f|
      -#= f.file_field :photo
      %input{ :type => 'file', :name => 'photo[photo]' }
      %br
      %br
      = f.submit "Add photo", :class => 'submit'
.box.boxForm
  .h
    %h3 Add new comment
  .in
    - form_for([@event, Comment.new]) do |f|
      %fieldset
        %legend Add new comment.
        .formBox
          = render :partial => 'comments/form', :locals => { :f => f }
        = submit_tag "Send comment", :class => 'submit'
.box.boxComments
  .h
    %h3 Event comments
  .in
    - @comments.each do |comment|
      .item
        .head
          %h4
            = link_to(comment.user.full_name, user_detail_path(:id => comment.user, :user => comment.user.full_name.parameterize))
            | 
            = comment.title
          %p= distance_of_time_in_words_to_now(comment.created_at)
        .self
          %p= comment.comment


-#if logged_in? %>
-#= link_to 'Odstranit', remove_photo_school_path(@school, :photo => row.id), :confirm => 'Jste si jistí?', :method => :delete %>
