%fieldset
  %legend
  .in
    .clearfix
      .lab
        = f.label :title
      .con
        = f.text_field :title, :class => 'button w100'
    .clearfix
      .lab
        = f.label :perex, 'Annotation:'
      .con
        = f.text_area :perex, :rows => 5, :cols => 80, :class => 'button w100'
    .clearfix
      .lab
        = f.label :link
      .con
        = f.text_field :link, :class => 'button w100'
    .clearfix
      .lab
        = f.label :description
      .con
        = f.text_area :description, :rows => 5, :cols => 80, :class => 'button w100'
    .clearfix
      .lab
        = f.label :tag_list, 'Tags (seperate with comma)'
      .con
        = f.text_field :tag_list, :size => 90, :class => 'button w100'  