- content_for :sidebarmenu do
  -#= render(:partial => "libraries/libraries", :object => @library)
  = render(:partial => "libraries/libraries", :object => Library.all)
- content_for :box_1 do
  = render(:partial => "shared/cloud", :locals => { :tags => @tags}) 
%h2.main
  Latest codes and libraries / 
  = @library.title
  - if(@items.total_entries > 0)
    %span.small= "(#{@items.total_entries} articles)"
  - else
    %span.small (No Articles in this category.)
  =link_to 'New item', new_object_url, :class => 'new hidden'
.box.boxArticles
  - @items.each_with_index do |item,index|
    %div{:class => "item #{index == 0 ? 'first' : nil}"}
      %h3= link_to h(item.title), object_url(item)
      %p.info 
        = distance_of_time_in_words_to_now(item.created_at)
        by
        = link_to(item.user.full_name, user_detail_path(:id => item.user, :user => item.user.full_name.parameterize))
        ,
        = item.comments.size
        Comments
      .img= link_to(image_tag(item.itemphoto.url(:thumb)), object_url(item))
      .self
        %p= truncate(h(item.perex), :length => 180, :omission => '&hellip;')
        = link_to 'Read full article', object_url(item)
      -if current_user.has_role?('admin') || current_user.id == item.user_id   
        %ul.actions
          %li= link_to 'Edit', edit_object_url(item), :class => 'ico edit'
-if @items.total_pages > 1
  .paging
    = will_paginate @items

-#= link_to 'Show', object_url(item)
-#= link_to 'Edit', edit_object_url(item)
-#= link_to 'Destroy', object_url(item), :confirm => 'Are you sure?', :method => :delete
=link_to 'New item', new_object_url